td{
    text-transform: uppercase;
}
.master{
    width: 400px;
    height: 400px;
}

.counter{
    width: 700px;
    height: 400px;
}

.primerospasosG2{
    width: 400px;
    height: 400px;
}

.CSGO{
    width: 700px;
    height: 400px;
}

.primerequipoG2{
    width: 700px;
    height: 400px;
}

.equipoactualG2{
    width: 700px;
    height: 400px;
}